* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4, h5 {
    font-size: 16px;
}

.small {
    font-size: 14px;
}

/* LARGHEZZE CONTAINER */

.container {
    max-width: 920px;
    width: 100%;
    margin: auto;
}

.container_large {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

/* DIMENSIONI COLONNE */

[class*="col_"] {
    float: left;
}

.col_1-9 {
    width: calc(100% / 9);
}

.col_2-9 {
    width: calc(100% / 9 * 2);
}

.col_3-9 {
    width: calc(100% / 9 * 3);
}

.col_4-9 {
    width: calc(100% / 9 * 4);
}

.col_5-9 {
    width: calc(100% / 9 * 5);
}

.col_6-9 {
    width: calc(100% / 9 * 6);
}

.col_7-9 {
    width: calc(100% / 9 * 7);
}

/* CLEARFIX */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BOTTONI */

.btn_blu {
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

.btn_white {
    background-color: white;
    color: black;
    border: 1px solid;
    text-decoration: none;
}