
/* *****SEZIONE NAVBAR***** */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

nav ul {
    background-color: white;
    width: 50%;
    float: left;
    list-style: none;
    padding: 0 10px;
}

nav ul:last-child {
    text-align: right;
}

nav li {
    display: inline-block;
    line-height: 40px;
}

nav img {
    vertical-align: middle;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 4px 13px;
}

/* *****SEZIONE HERO***** */

.hero_bg {
    background-color: #B4D0E7;
    margin-top: 41px;
}

.hero_section {
    transform: translateY(60px);
}

.hero_section h1 {
    padding-bottom: 30px;
}

.hero_section p {
    padding-right: 15px;
    padding-bottom: 30px;
}

.hero_section a {
    padding: 8px 15px;
    font-weight: bold;
}

.hero_section span {
    display: block;
    padding-top: 15px;
    padding-bottom: 35px;
}

.hero_section i {
    font-size: 30px;
}

.hero_section img {
    width: 100%;
}

/* *****MAIN BUY SECTION***** */

.buy_section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.buy_section h2 {
    padding-bottom: 50px;
}

.radio_section {
    display: inline-block;
    padding-right: 10px;
}

.row_buy_section {
    padding: 40px 0;
    margin-left: -10px;
    margin-right: -10px;
}

.row_buy_section ul li {
    padding-left: 20px;
}

.row_buy_section ul li i {
    margin-left: -15px;
}

/* colonne */

.gutter_buy_col {
    padding: 0 10px;
}

.box_col {
    border: 1px solid #637381a6;
    min-height: 800px;
}

.box_col p:first-child {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #637381a6;
}

/* sezione top colonna */

.top_buy_col {
    width: 80%;
    margin: auto;
}

.top_buy_col h3 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.top_buy_col span {
    color: #637381;
    font-size: 80%;
}

.top_buy_col ul {
    font-size: 12px;
    padding-top: 30px;
    list-style: none;
}

.top_buy_col li {
    padding-bottom: 15px;
}

/* sezione middle colonna */

.middle_buy_col {
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.middle_buy_col > a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 5px 0;
}

.middle_buy_col p {
    padding: 20px 0;
    font-size: 12px;
}

.middle_buy_col p a {
    color: #0061FF;
    text-decoration: none;
}

.middle_buy_col hr {
    width: 20%;
}

/* sezione bottom colonna */

.bottom_buy_col {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.bottom_buy_col ul{
    list-style: none;
    font-size: 12px;
    padding-top: 20px;
}

.bottom_buy_col li {
    padding-bottom: 15px;
}

.bottom_buy_col i {
    color: #0061FF;
}

/* enterprise */

.enterprise_buy_section {
    border: 1px solid #637381a6;
}

.enterprise_buy_section p:first-child {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #637381a6;
}

.enterprise_box {
    width: 95%;
    margin: auto;
}

.enterprise_text h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.enterprise_text h4 {
    padding-bottom: 25px;
}

.enterprise_text p {
    padding-bottom: 20px;
}

.enterprise_btn {
    padding-top: 20px;
}

.enterprise_btn a {
    display: block;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* *****SEZIONE DROPBOX PARTNER***** */

.partner_section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.img_section_partner img {
    width: 100%;
}

.text_section_partner {
    padding-top: 30px;
    padding-left: 40px;
}

.text_section_partner p {
    padding: 30px 0;
}

.text_section_partner a {
    padding: 6px 12px;
}

/* *****SEZIONE DROPBOX BUISNESS***** */

.db_buisness_section {
    padding-bottom: 100px;
}

.db_buisness_section h2 {
    padding-bottom: 60px;
}

.gutter_db_box {
    padding: 0 15px 60px;
}

.db_box img {
    width: 100%;
}

.db_box h3 {
    padding-top: 10px;
    padding-bottom: 25px;
}

.db_box p a{
    color: black;
}

/* *****SEZIONE DROPBOX TEAM***** */

/* top */
.db_team_top {
    padding-right: 26%;
    padding-bottom: 40px;
}

.db_team_top h2{
    padding-bottom: 30px;
}

.db_team_top a {
    color: #0061FF;
    padding: 5px;
}

/* middle */
.db_team_middle_box {
    float: left;
    width: 50%;
    height: calc(30vw / 2 - 4px);
    position: relative;
}

.db_team_middle_box img {
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.border_box_team_middle {
    border: 7px solid #D0E9CD;
}

.db_team_middle_center {
    padding: 30px 40px 0;
    height: calc(30vw - 8px);
    overflow: auto;
}

.img_text_team_middle {
    width: 20%;
}

.img_text_team_middle img {
    width: 100%;
    padding-bottom: 35px;
}

.img_text_team_middle hr {
    width: 40%;
    background-color: #637381;
}

.db_team_middle_center p {
    padding-top: 40px;
}

/* bottom */
.db_team_bottom {
    background-color: #B4D0E7;
    padding-bottom: 80px;
}

.db_team_bottom h2 {
    padding-top: 100px;
    padding-left: 25%;
    color: #61082b;
}

.db_team_bottom_btn {
    padding-top: 115px;
    padding-left: 20%;
}

.db_team_bottom_btn a {
    text-decoration: none;
    border: none;
    padding: 6px 65px;
}

/* *****SEZIONE MAIN QUEST***** */

.quest_section {
    padding: 100px 0;
}

.single_quest {
    position: relative;
}

.quest_section_top h3 {
    padding-bottom: 45px;
}

.single_quest h4 {
    padding: 30px 0;
}

.single_quest i {
    position: absolute;
    right: 0;
    top: calc(50% - 11px);
} 

.single_quest hr {
    background-color: #63738149;
}

/* *****FOOTER SEZIONE LISTE***** */

.footer_list_container {
    padding: 90px 130px 0;
}

.footer_list {
    width: 20%;
    float: left;
}

.footer_list h4 {
    padding-bottom: 20px;
}

.footer_list ul li {
    margin-bottom: 10px;
    margin-left: -10px;
}

.footer_list ul a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 4px 10px;
}

.footer_logo {
    padding: 70px 130px 40px;
}

.footer_logo hr {
    border-color: #637381;
    width: 10%;
}

.footer_logo p {
    padding-top: 40px;
    color: #637381;
}
