
/* *****SEZIONE NAVBAR***** */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

nav ul {
    background-color: white;
    width: 50%;
    float: left;
    list-style: none;
    padding: 0 10px;
}

nav ul:last-child {
    text-align: right;
}

nav li {
    display: inline-block;
    line-height: 40px;
}

nav img {
    vertical-align: middle;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 4px 13px;
}

/* *****SEZIONE HERO***** */

.hero_bg {
    background-color: #B4D0E7;
    margin-top: 41px;
}

.hero_section {
    transform: translateY(60px);
}

.hero_section h1 {
    padding-bottom: 30px;
}

.hero_section p {
    padding-right: 15px;
    padding-bottom: 30px;
}

.hero_section a {
    padding: 8px 15px;
    font-weight: bold;
}

.hero_section span {
    display: block;
    padding-top: 15px;
    padding-bottom: 35px;
}

.hero_section i {
    font-size: 30px;
}

.hero_section img {
    width: 100%;
}

/* *****MAIN BUY SECTION***** */

.buy_section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.buy_section h2 {
    padding-bottom: 50px;
}

.radio_section {
    display: inline-block;
    padding-right: 10px;
}

.row_buy_section {
    padding: 40px 0;
}

/* colonne */

.gutter_buy_col {
    padding: 0 10px;
}

.box_col {
    border: 1px solid #637381a6;
    min-height: 800px;
}

.box_col p:first-child {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #637381a6;
}

/* sezione top colonna */

.top_buy_col {
    width: 80%;
    margin: auto;
}

.top_buy_col h3 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.top_buy_col span {
    color: #637381;
    font-size: 80%;
}

.top_buy_col ul {
    font-size: 12px;
    padding-top: 30px;
    list-style: none;
}

.top_buy_col li {
    padding-bottom: 15px;
}

/* sezione middle colonna */

.middle_buy_col {
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.middle_buy_col > a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 5px 0;
}

.middle_buy_col p {
    padding: 20px 0;
    font-size: 12px;
}

.middle_buy_col p a {
    color: #0061FF;
    text-decoration: none;
}

.middle_buy_col hr {
    width: 20%;
}

/* sezione bottom colonna */

.bottom_buy_col {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.bottom_buy_col ul{
    list-style: none;
    font-size: 12px;
    padding-top: 20px;
}

.bottom_buy_col li {
    padding-bottom: 15px;
}

.bottom_buy_col i {
    color: #0061FF;
}

/* enterprise */

.enterprise_buy_section {
    border: 1px solid #637381a6;
}

.enterprise_buy_section p:first-child {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #637381a6;
}

.enterprise_box {
    width: 95%;
    margin: auto;
}

.enterprise_text h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.enterprise_text h4 {
    padding-bottom: 25px;
}

.enterprise_text p {
    padding-bottom: 20px;
}

.enterprise_btn {
    padding-top: 20px;
}

.enterprise_btn a {
    display: block;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* *****SEZIONE DROPBOX PARTNER***** */

.partner_section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.img_section_partner img {
    width: 100%;
}

.text_section_partner {
    padding-top: 30px;
    padding-left: 40px;
}

.text_section_partner p {
    padding: 30px 0;
}

.text_section_partner a {
    padding: 6px 12px;
}

/* *****SEZIONE DROPBOX BUISNESS***** */

.db_buisness_section {
    padding-bottom: 100px;
}

.db_buisness_section h2 {
    padding-bottom: 60px;
}

.gutter_db_box {
    padding: 0 15px 60px;
}

.db_box img {
    width: 100%;
}

.db_box h3 {
    padding-bottom: 25px;
}

.db_box p a{
    color: black;
}

/* *****SEZIONE DROPBOX TEAM***** */

.db_team_top {
    padding-right: 26%;
    padding-bottom: 30px;
}

.db_team_top h2{
    padding-bottom: 30px;
}

.db_team_top a {
    color: #0061FF;
    padding: 5px;
}

.db_team_middle_box {
    float: left;
    width: 50%;
    height: 160px;
    position: relative;
}

.db_team_middle_box img {
    display: inline-block;
    width: 70%;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


